<footer class="hidden-print">
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-xs-12 nav-items nav-items-right">
					<ul>
						<li><a class="nav-link" href="https://twitter.com/okfde" title="OKF auf Twitter"><i class="icon-twitter"></i></a></li>
						<li><a class="nav-link" href="https://github.com/okfde" title="OKF auf Github"><i class="icon-github"></i></a></li>
						<li><a class="nav-link" href="https://www.flickr.com/photos/okfde" title="OKF auf Flickr"><i class="icon-flickr"></i></a></li>
						<li><a class="nav-link" href="https://www.youtube.com/channel/UCUD8EFjXzRN-wFUbVTYlDAw" title="OKF auf Youtube"><i class="icon-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="cellar">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<p>{% t footer.license %}</p>
				</div>
				<div class="col-md-3 col-md-offset-1">
					<a href="{{ site.baseurl }}"><img class="logo-cellar" src="{{site.staticurl}}images/logo_footer.png" alt="Open Knowledge Foundation Deutschland e.V."></a>
				</div>
			</div>
		</div>
	</div>
</footer>
